@import "../bootstrap/less/bootstrap.less";
@import "../bootstrap/less/theme.less";

* {
  transform: all 1s ease-in-out;
}
.timezone {
  font-size: 0.9em;
}

a.list-group-item {
  cursor: pointer;
}

table.topics {
  border-collapse: collapse;
  table-layout: fixed;

  td {
    vertical-align: middle !important;
    border: 0px none !important;
  }

  .filter {
    width: 150px;
  }
  .action {
    width: 100px;
  }

}

.chosen-topics {
}

table.timetable {
  table-layout: fixed;
  border-collapse: collapse;

  .times {
    width: 100px;
  }

  table {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-layout: fixed;
    font-size: 0.8em;
  }

  table.grid {

  }

  .hour {
    height: 60px;
    overflow: hidden !important;
  }

  .hours {
    position: relative;
    padding: 0;
    border-top-width: 0;
  }

  div.booking {
    color: #ffffff;
    background: black;
    padding: 5px 0;
    margin: 2px 0;
    opacity: 0.8;
    border-radius: 4px;
    width: 100%;
  }

  div.topic-0 {
    background: red;
  }
  div.topic-1 {
    background: green;
  }
  div.topic-2 {
    background: blue;
  }
  div.topic-3 {
    background: orange;
  }
  div.topic-4 {
    background: purple;
  }
  div.topic-5 {
    background: teal;
  }
  div.topic-6 {
    background: mediumturquoise;
  }
  div.topic-7 {
    background: brown;
  }
  div.topic-8 {
    background: blueviolet;
  }
  div.topic-9 {
    background: purple;
  }
}


.ajax-loader {
  margin: 0 auto;
  text-align: center;
  text-align: center;
  display: block;
}