@import "../bootstrap/less/bootstrap.less";
@import "../bootstrap/less/theme.less";


.row-spaced {
  margin-top: 15px;
}

a.list-group-item {
  cursor: pointer;
}

table.topics td {
  vertical-align: middle !important;
}


.booking {
  background: #428bca;
  text-shadow: 0 -1px 0 #3071a9;
  color: #ffffff;
  background-image: linear-gradient(to bottom, #428bca 0%, #3278b3 100%);
  background-repeat: repeat-x;
  border-color: #3278b3;
}