<html ng-app="timetable">
<head>
    <title>Flinders Timetable Planner</title>
    <script src="js/vendor/modernizr/modernizr.custom.90019.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>

    <script src="js/timetable.js"></script>

    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body ng-controller="TimetableController">
<div class="container">
    <div class="page-header">
        <h1>Flinders Timetable Planner</h1>
    </div>

    <div class="alert alert-danger">
        This project is still in development. Expect things to be broken and/or unfinished.
    </div>

    <p>Use this tool to find the ideal timetable for next semester</p>

    <p>Find the optimal timetable in a few simple steps</p>
    <ol>
        <li>Choose which semester you're planning for</li>
        <li>Choose your topics</li>
        <li>Specify your criteria for an ideal table (no clashes, maximum number of days free, minimum time spent at
            university, etc.)
        </li>
    </ol>

    <form class="form" role="form">
        <div class="page-header">
            <h2>When are we planning for?</h2>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label>Year</label>
                    <select class="form-control" ng-model="activeYear" ng-change="updateTopics()"
                            ng-options="y for y in years">
                    </select>
                </div>
                <div class="col-md-2">
                    <label>Semester</label>
                    <select class="form-control" ng-model="activeSemester" ng-change="updateTopics()"
                            ng-options="s as s for s in semesters">
                    </select>
                </div>
            </div>
        </div>


        <div class="page-header">
            <h2>Okay, now which topics are you planning to do?</h2>
        </div>
        <table class="table topics">


            <tbody>

            <tr ng-repeat="topic in chosenTopics">
                <td class="filter"></td>
                <td width="*">
                    {{ topic.code }} {{ topic.name }}
                </td>
                <td class="action">
                    <button type="button" class="btn btn-danger" ng-click="removeTopic(topic)">Remove</button>
                </td>
            </tr>

            <tr>
                <td class="filter">
                    <input class="form-control" ng-model="topicSearch" placeholder="Filter"/>
                </td>
                <td width="*">
                    <p ng-show="!topics.length"><img src="images/ajax-loader.gif" alt="Loading" class="ajax-loader"/>
                    </p>
                    <select ng-show="topics.length" class="form-control" ng-model="activeTopic"
                            ng-options="t as t.code + ' ' + t.name + ' ' for t in topics | filter:topicSearch">
                    </select>
                </td>
                <td class="action">
                    <button type="submit" class="btn btn-primary" ng-click="addTopic()" ng-disabled="!validateTopic()">
                        Add
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <div ng-show="chosenTopics.length" class="chosen-topics">
        <div class="page-header">
            <h3>Ready? Let's find the ideal timetable</h3>
        </div>

        <div class="row">
            <div ng-repeat="topic in chosenTopics" class="col-md-3">
                <h3>{{ topic.code }} {{ topic.name }}</h3>

                <div ng-repeat="class in topic.classes">
                    <h4>{{ class.name }} ({{ (class.class_groups[0].class_sessions[0].seconds_duration) / 60}}
                        minutes)</h4>

                    <div ng-show="class.class_groups" class="list-group">
                        <a ng-repeat="class_group in class.class_groups" class="list-group-item"
                           ng-class="{ active: (class_group == class.active_class_group) }"
                           ng-click="(class.active_class_group = class_group) && updateTimetable()">
                            <!-- <h5 ng-show="class.class_groups.length > 1" class="list-group-item-heading">Group {{ class_group.group_id }}</h5> -->
                            <p class="list-group-item-text" ng-repeat="class_session in class_group.class_sessions">{{
                                class_session.day_of_week }} {{ class_session.time_starts_at }}
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<table class="timetable table" ng-show="chosenTopics.length">
    <tr>
        <th class="times"><span class="timezone">GMT +9:30</span></th>
        <th ng-repeat="day in days">{{ day }}</th>
    </tr>
    <tr>
        <td style="padding-top:0px; border-top-width: 0px;">
            <table>
                <tr ng-repeat="hour in hours">
                    <th class="hour">{{ hour }}</th>
                </tr>
            </table>
        </td>
        <td ng-repeat="day in days" class="hours">
            <table class="grid">
                <tr ng-repeat="hours in hours" class="hour">
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </table>

            <div ng-repeat="booking in timetable[day]" class="booking topic-{{booking.topic.id % 10}}"
                 style="height: {{ booking.class_session.seconds_duration / 60 }}px; top: {{ (booking.class_session.seconds_starts_at - 28800) / 60 }}px;">
                <p>{{ booking.topic.code }} {{ booking.class_type.name }}</p>
            </div>
        </td>
    </tr>
</table>

<footer class="container">
    <hr/>
    <p>&copy; 2013 &ndash; Tobias Wooldridge and Russell Peake</p>

    <p>Freely available under the <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache v2 License</a></p>
</footer>

<script>
    timetable({});
</script>
</body>
</html>
