<div ng-controller="TopicController">
    <div class="container">
    <form class="form">
        <h3>Where and when are we planning for?</h3>

        <fieldset class="timeAndPlace">
            <div class="row">
                <div class="col-md-3">
                    <h4>University</h4>
                    <ul>
                        <li ng-repeat="institution in institutions">
                            <label>
                                <input type="radio"
                                       name="activeInstitution"
                                       ng-model="$parent.activeInstitution"
                                       ng-value="institution"
                                       ng-change="updateAvailableYears()"/>
                                {{ institution.name }}
                            </label>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h4>Year</h4>
                    <ul class="years">
                        <li ng-repeat="year in years">
                            <label>
                                <input type="radio"
                                       name="activeYear"
                                       ng-model="$parent.activeYear"
                                       ng-value="year"
                                       ng-change="updateAvailableSemesters()"/>
                                {{ year }}

                            </label>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <h4>Semester</h4>
                    <ul class="semesters">
                        <li ng-repeat="semester in semesters">
                            <label>
                                <input type="checkbox"
                                       name="activeSemester"
                                       ng-model="semester.selected"
                                       ng-change="updateAvailableTopics()"/>
                                {{ semester.name }} ({{ semester.code }})

                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </fieldset>
        </form>
    </div>

    <div class="container topics">
    <form>
        <h3>Which topics are you planning to do?</h3>
        <table class="table topics">
            <tbody>
            <tr ng-repeat="topic in chosenTopics">
                <td width="*">
                    {{ topic.code }} {{ topic.name }} <span class="subtle">({{topic.institution.nickname }} {{ topic.year }} {{ topic.semester }})</span>
                </td>
                <td class="action">
                    <button type="button" class="btn btn-danger btn-sm" ng-click="removeTopic(topic)">Remove</button>
                </td>
            </tr>
            </tbody>
            <tfoot ng-show="chosenTopics.length < 8">
            <tr>
                <td width="*">
                    <input class="form-control" ng-model="topicSearch" placeholder="Search" />
                </td>

                <td class="action">
                    <button type="submit" class="btn btn-primary btn-sm"
                            ng-click="addTopic(activeTopic)"
                            ng-disabled="!(topicSearch.length > 0 && matchingTopics.length) || !validateTopic(activeTopic)">
                        Add
                    </button>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="suggestions">
                        <div ng-show="topicSearch.length > 0">
                            <label ng-repeat="topic in matchingTopics">
                                <input type="radio"
                                       name="activeTopic"
                                       ng-model="$parent.activeTopic"
                                       ng-value="topic" />

                                {{ topic.code }} {{ topic.name }} <span class="subtle">({{topic.institution.nickname }} {{ topic.year }} {{ topic.semester }})</span>
                            </label>

                            <p ng-show="!matchingTopics.length" class="hint hint-filter">Your search returned no results. Make sure you've selected the correct university and semester above :)</p>
                        </div>
                        <div ng-show="topicSearch.length == 0" class="hint hint-filter">Type a few letters of a topic code or
                            topic name to the left to search for topics, e.g. "software engineering"</div>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </form>
    </div>
</div>

<div class="container" ng-controller="TimetableGeneratorController" ng-show="hasChosenTopics">
    <div class="page-header">
        <h3>Timetable Generator</h3>
    </div>

    <p>You have {{ numPossibleTimetables }} possible timetables. To find your ideal timetable, we're going to need a
        little more information</p>

    <p>Order the below list in terms of what's important to you, most important first.</p>


    <div class="row">
        <div class="col-md-7 generator-priorities">
            <div class="page-header">
                <h4>Sort your preference</h4>
            </div>

            <p>Drag the preferences to sort them</p>
            <ol ui-sortable="prioritiesSortableOptions" ng-model="timetablePriorities">
                <li ng-repeat="priority in timetablePriorities">
                    {{ $index + 1 }}. {{ priority.label }}

                    <select ng-show="priority.options" ng-model="priority.selectedOption"
                            ng-options="p as p for p in priority.options">
                    </select>

                    <span class="hint" ng-show="$first">(Most important)</span>
                    <span class="hint" ng-show="$last">(Least important)</span>

                    <span class="glyphicon glyphicon-arrow-down pull-right"
                          ng-click="movePreference($index, 1)"></span>
                    <span class="glyphicon glyphicon-arrow-up pull-right" ng-click="movePreference($index, -1)"></span>
                </li>
            </ol>
        </div>
        <div class="col-md-5 generator-configuration">
            <div class="page-header">
                <h4>Generator Settings</h4>
            </div>
            <form>
                <ul>
                    <li><label>Avoid Full Classes <input type="checkbox" ng-model="config.avoidFull"> </label></li>
                    <li><label>Allow <select ng-model="config.clashAllowance"
                                             ng-options="a as a|secondsToHours for a in clashAllowanceChoices"></select>
                        of avoidable clashes</label></li>
                </ul>
            </form>

        </div>
    </div>

    <div>
        <p>
            <button class="btn btn-primary" ng-click="generateTimetables()">Generate Timetables</button>
        </p>
    </div>

    <div ng-show="hasGeneratedTimetables" class="generated-timetables">
        <hr/>
        <p>Auto generation found {{ numRefinedPossibleTimetables }} possible timetables meeting your criteria.

        <p>This took {{ examineDuration }} seconds.</p>

        <div class="suggestions">
            <div class="row labels">
                <div class="col-xs-4 col-sm-2">
                    Time at uni
                </div>
                <div class="col-xs-4 col-sm-2">
                    Earliest start
                </div>
                <div class="col-xs-4 col-sm-2">
                    Latest end
                </div>
                <div class="col-sm-5 hidden-xs">
                    Timetable Preview
                </div>
            </div>

            <div class="row" ng-repeat="candidate in topTimetableCandidates | paginate: pageIndex:suggestionsPerPage">
                <div class="col-xs-4 col-sm-2">
                    {{ candidate.stats.secondsAtUni | secondsToHours }}
                </div>
                <div class="col-xs-4 col-sm-2">
                    {{ candidate.stats.earliestStartTime | secondsToTime }}
                </div>
                <div class="col-xs-4 col-sm-2">
                    {{ candidate.stats.latestEndTime | secondsToTime }}
                </div>
                <div class="col-sm-5 col-xs-10">
                    <span class="visible-xs label">Timetable Preview</span>

                    <timetable-mini topics="chosenTopics" candidate="candidate" class="mini"></timetable-mini>
                </div>
                <div class="col-sm-1 col-xs-2">
                    <button class="btn btn-primary btn-sm" ng-click="applyClassGroupSelection(candidate.classPicks)">
                        Apply
                    </button>
                </div>
            </div>
        </div>

        <p>Showing page {{pageIndex + 1}} of {{ numPages }}</p>
        <button class="btn btn-primary btn-sm" ng-click="pageIndex = pageIndex - 1" ng-disabled="pageIndex <= 0">Show
            previous suggestions
        </button>
        <button class="btn btn-primary btn-sm" ng-click="pageIndex = pageIndex + 1"
                ng-disabled="pageIndex >= (numPages - 1)">Show next suggestions
        </button>
    </div>
</div>

<div class="container" ng-controller="TimetableController" ng-show="chosenTopics.length" id="show-timetable">
    <timetable topics="chosenTopics" class-selections="" class="normal"></timetable>
</div>

<div class="container" ng-controller="ManualClassChooserController" ng-show="chosenTopics.length">
    <div class="chosen-topics">
        <div class="page-header">
            <h3>Manual Class Selector</h3>
        </div>

        <div class="row">
            <div ng-repeat="topic in chosenTopics" ng-show="topic.timetableLoaded"
                 class="col-md-3 topic topic-{{topic.getHash() % 16}}">
                <h4>{{ topic.code }}</h4>

                <div ng-show="topic.classes" ng-repeat="class in topic.classes">
                    <h5>{{ class.name }} ({{ (class.classGroups[0].activities[0].secondsDuration || 0) |
                        secondsToHours }})</h5>

                    <div ng-show="class.classGroups" class="list-group class-group">
                        <a ng-repeat="classGroup in class.classGroups" class="list-group-item activity"
                           ng-class="{ active: (classGroup == class.activeClassGroup), full: classGroup.full }"
                           ng-click="(class.activeClassGroup = classGroup) && broadcastClassesUpdate()">

                            <span class="full pull-right" ng-show="classGroup.full">
                                <span class="glyphicon glyphicon-warning-sign" ng-show="classGroup.full"></span> Full
                            </span>

                            <p class="list-group-item-text"
                               ng-repeat="activity in classGroup.activities">
                                {{ activity.dayOfWeek }} {{ activity.timeStartsAt }} <span class="until"> &ndash; {{ activity.timeEndsAt }}</span>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
