<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container" ng-controller="TopicController">
    <form class="form-inline">
        <div class="page-header">
            <h3>What are we planning for?</h3>
        </div>

        <fieldset>
            <label class="select inline">University
                <select class="form-control" disabled="disabled">
                    <option>Flinders</option>
                </select>
            </label>
            <label class="select inline">Year
                <select class="form-control" ng-model="activeYear" ng-change="updateAvailableTopics()"
                        ng-options="y as y for y in years">
                </select>
            </label>
            <label class="select inline">Semester
                <select class="form-control" ng-model="activeSemester" ng-change="updateAvailableTopics()" ng-options="friendly for (friendly, query) in semesters">
                </select>
            </label>
        </fieldset>

    </form>
    <br/>

    <form>
        <div class="page-header">
            <h3>Which topics are you planning to do?</h3>
        </div>
        <table class="table topics">
            <tbody>
            <tr ng-repeat="topic in chosenTopics">
                <td class="filter"></td>
                <td width="*">
                    {{ topic.code }} {{ topic.name }}
                </td>
                <td class="action">
                    <button type="button" class="btn btn-danger" ng-click="removeTopic(topic)">Remove</button>
                </td>
            </tr>
            </tbody>
            <tfoot ng-show="chosenTopics.length < 6">
            <tr>
                <td class="filter">
                    <input class="form-control" ng-model="topicSearch" placeholder="Search"/>
                </td>
                <td width="*">
                    <p ng-show="topicSearch.length >= 3"><span ng-show="!availableTopics.length"><img
                            src="assets/images/ajax-loader.gif" alt="Loading"
                            class="ajax-loader"/>
                    </span>
                        <select ng-show="availableTopics.length" class="form-control" ng-model="activeTopic"
                                ng-options="t as t.code + ' ' + t.name + ' (' + t.semester + ')' for t in availableTopics | filter: searchTopics | limitTo: 100">
                        </select>
                    </p>

                    <p ng-show="topicSearch.length < 3" class="hint hint-filter">Type a few letters of a topic code or
                        topic name to the left to search for topics, e.g. "software engineering"</p>
                </td>

                <td class="action">
                    <button ng-show="topicSearch.length >= 3" type="submit" class="btn btn-primary"
                            ng-click="addTopic(activeTopic)"
                            ng-disabled="!validateTopic(activeTopic)">
                        Add
                    </button>
                </td>
            </tr>
            </tfoot>
        </table>
    </form>
</div>

<div class="container" ng-controller="TimetableGeneratorController" ng-show="hasChosenTopics">
    <div class="page-header">
        <h3>Timetable Generator</h3>
    </div>

    <p>You have {{ numPossibleTimetables }} possible timetables. To find your ideal timetable, we're going to need a
        little more information</p>

    <p>Order the below list in terms of what's important to you, most important first.</p>


    <div class="row">
        <div class="col-md-7 generator-priorities">
            <div class="page-header">
                <h4>Sort your preference</h4>
            </div>

            <p>Drag the preferences to sort them</p>
            <ol ui-sortable="prioritiesSortableOptions" ng-model="timetablePriorities">
                <li ng-repeat="priority in timetablePriorities">
                    {{ $index + 1 }}. {{ priority.label }}

                    <select ng-show="priority.options" ng-model="priority.selectedOption"
                            ng-options="p as p for p in priority.options">
                    </select>

                    <span class="hint" ng-show="$first">(Most important)</span>
                    <span class="hint" ng-show="$last">(Least important)</span>

                    <span class="glyphicon glyphicon-arrow-down pull-right"
                          ng-click="movePreference($index, 1)"></span>
                    <span class="glyphicon glyphicon-arrow-up pull-right" ng-click="movePreference($index, -1)"></span>
                </li>
            </ol>
        </div>
        <div class="col-md-5 generator-configuration">
            <div class="page-header">
                <h4>Generator Settings</h4>
            </div>
            <form>
                <ul>
                    <li><label>Avoid Full ClasIses <input type="checkbox" ng-model="config.avoidFull"> </label></li>
                    <li><label>Allow <select ng-model="config.clashAllowance"
                                             ng-options="a as a|secondsToHours for a in clashAllowanceChoices"></select>
                        of avoidable clashes</label></li>
                </ul>
            </form>

        </div>
    </div>

    <div>
        <p>
            <button class="btn btn-primary" ng-click="generateTimetables()">Generate Timetables</button>
        </p>
    </div>

    <div ng-show="hasGeneratedTimetables" class="generated-timetables">
        <hr/>
        <p>Auto generation found {{ numRefinedPossibleTimetables }} possible timetables meeting your criteria.

        <p>This took {{ examineDuration }} seconds.</p>


        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Time at uni</th>
                <th>Earliest start</th>
                <th>Latest end</th>
                <th>Timetable Preview</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="candidate in topTimetableCandidates | paginate: pageIndex:suggestionsPerPage">
                <td>
                    {{ candidate.stats.secondsAtUni | secondsToHours }}
                </td>
                <td>
                    {{ candidate.stats.earliestStartTime | secondsToTime }}
                </td>
                <td>
                    {{ candidate.stats.latestEndTime | secondsToTime }}
                </td>
                <td>
                    <timetable-mini topics="chosenTopics" candidate="candidate" class="mini"></timetable-mini>
                </td>
                <td>
                    <button class="btn btn-primary btn-sm" ng-click="applyClassGroupSelection(candidate.classPicks)">
                        Apply
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <p>Showing page {{pageIndex + 1}} of {{ numPages }}</p>
        <button class="btn btn-primary btn-sm" ng-click="pageIndex = pageIndex - 1" ng-disabled="pageIndex <= 0">Show
            previous suggestions
        </button>
        <button class="btn btn-primary btn-sm" ng-click="pageIndex = pageIndex + 1"
                ng-disabled="pageIndex >= (numPages - 1)">Show next suggestions
        </button>
    </div>
</div>

<div class="container" ng-controller="TimetableController" ng-show="chosenTopics.length" id="show-timetable">
    <timetable topics="chosenTopics" class-selections="" class="normal"></timetable>
</div>

<div class="container" ng-controller="EnrolmentController" ng-show="chosenTopics.length">
    <div class="page-header">
        <h3>Your Enrolment Dates</h3>
    </div>
    <!-- <ul>
    <li ng-repeat="topic in chosenTopics" ng-show="topic.timetableLoaded">
        For <strong>{{ topic.code }}</strong>, topic enrolment opens {{ topic.enrolmentOpens + " 10 AM" | formatDateTime }} and class enrolment opens <strong>{{ topic.enrolmentOpens + " 10 AM" | inAWeek | formatDateTime }} ({{ topic.enrolmentOpens + " 10 AM" | inAWeek | timeDistance }})</strong></p>
    </li>
    </ul> -->
    <p>Be sure to check your enrolment dates on the university's official page
        <a href="http://www.flinders.edu.au/enrolling/enrolment-and-registration/class-reg.cfm">here</a>.</p>
</div>

<div class="container" ng-controller="ManualClassChooserController" ng-show="chosenTopics.length">
    <div class="chosen-topics">
        <div class="page-header">
            <h3>Manual Class Selector</h3>
        </div>

        <div class="row">
            <div ng-repeat="topic in chosenTopics" ng-show="topic.timetableLoaded"
                 class="col-md-3 topic topic-{{topic.getHash() % 16}}">
                <h4>{{ topic.code }}</h4>

                <div ng-show="topic.classes" ng-repeat="class in topic.classes">
                    <h5>{{ class.name }} ({{ (class.classGroups[0].activities[0].secondsDuration || 0) |
                        secondsToHours }})</h5>

                    <div ng-show="class.classGroups" class="list-group class-group">
                        <a ng-repeat="classGroup in class.classGroups" class="list-group-item activity"
                           ng-class="{ active: (classGroup == class.activeClassGroup), full: classGroup.full }"
                           ng-click="(class.activeClassGroup = classGroup) && broadcastClassesUpdate()">

                            <span class="full pull-right" ng-show="classGroup.full">
                                <span class="glyphicon glyphicon-warning-sign" ng-show="classGroup.full"></span> Full
                            </span>

                            <p class="list-group-item-text"
                               ng-repeat="activity in classGroup.activities">
                                {{ activity.dayOfWeek }} {{ activity.timeStartsAt }}
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
