<div class="page-header">
    <h1>Flinders University Timetable Planner</h1>
</div>

<div class="alert alert-danger">
    This project is still in development; remain calm if things don't work.
</div>

<div class="container">


    <p>Use this tool to find the ideal timetable for next semester</p>

    <p>Find the optimal timetable in a few simple steps</p>
    <ol>
        <li>Choose which semester you're planning for</li>
        <li>Choose your topics</li>
        <li>Specify your criteria for an ideal table (no clashes, maximum number of days free, minimum time spent at
            university, etc.)
        </li>
    </ol>
</div>

<div class="container" ng-controller="TopicController">
    <form class="form-inline">
        <div class="page-header">
            <h3>When are we planning for?</h3>
        </div>

        <fieldset>
            <label class="select inline">Year
                <select class="form-control" ng-model="activeYear" ng-change="updateAvailableTopics()"
                        ng-options="y for y in years">
                </select>
            </label>
            <label class="select inline">Semester
                <select class="form-control" ng-model="activeSemester" ng-change="updateAvailableTopics()"
                        ng-options="s as s for s in semesters">
                </select>
            </label>
        </fieldset>

    </form>
    <br/>

    <form>
        <div class="page-header">
            <h3>Which topics are you planning to do?</h3>
        </div>
        <table class="table topics">
            <tbody>
            <tr ng-repeat="topic in chosenTopics">
                <td class="filter"></td>
                <td width="*">
                    {{ topic.code }} {{ topic.name }}
                </td>
                <td class="action">
                    <button type="button" class="btn btn-danger" ng-click="removeTopic(topic)">Remove</button>
                </td>
            </tr>
            </tbody>
            <tfoot ng-show="chosenTopics.length < 6">
            <tr>
                <td class="filter">
                    <input class="form-control" ng-model="topicSearch" placeholder="Search"/>
                </td>
                <td width="*">
                    <p ng-show="!availableTopics.length"><img src="assets/images/ajax-loader.gif" alt="Loading"
                                                              class="ajax-loader"/>
                    </p>
                    <select ng-show="availableTopics.length" class="form-control" ng-model="activeTopic"
                            ng-options="t as t.code + ' ' + t.name + ' ' for t in availableTopics | filter:searchTopics ">
                    </select>
                </td>
                <td class="action">
                    <button type="submit" class="btn btn-primary" ng-click="addTopic(activeTopic)"
                            ng-disabled="!validateTopic(activeTopic)">
                        Add
                    </button>
                </td>
            </tr>
            </tfoot>
        </table>
    </form>
</div>

<div class="container" ng-controller="TimetableGeneratorController" ng-show="hasChosenTopics">
    <div class="page-header">
        <h3>Timetable Generator</h3>
    </div>

    <p>You have {{ numPossibleTimetables }} possible timetables. To find your ideal timetable, we're going to need a little more information</p>

    <p>Order the below list in terms of what's important to you, most important first.</p>

    <div class="row">
        <ul ui-sortable="prioritiesSortableOptions" ng-model="timetablePriorities" class="col-md-3 list-group generator-priorities">
            <li ng-repeat="priority in timetablePriorities" class="list-group-item">{{ priority.label }}</li>
        </ul>
    </div>


    <div ng-show="!generatingTimetables">
        <p>
            <button class="btn btn-primary" ng-click="generateTimetables()">Automatically Generate Timetables</button>
        </p>
    </div>

    <div ng-show="!hasGeneratedTimetables && generatingTimetables">
        <p>Generating timetables</p>
    </div>

    <div ng-show="hasGeneratedTimetables">
        <hr />
        <p>Auto generation found {{ numRefinedPossibleTimetables }} possible timetables with {{ ( 0 +
            fewestSecondsClashing) | secondsToHours }} hours of unavoidable clashes.</p>

        <p>This took {{ examineDuration }} seconds.</p>

        <table class="table table-condensed">
            <tr>
                <th>Days at uni</th>
                <th>Time at uni</th>
                <th>Average start time</th>
                <th>Average end time</th>
                <th>Apply</th>
            </tr>
            <tr ng-repeat="candidate in topTimetableCandidates">
                <td>
                    {{ candidate.daysAtUni }}
                </td>
                <td>
                    {{ candidate.secondsAtUni | secondsToHours }} hours
                </td>
                <td>
                    {{ candidate.averageStartTime | secondsToTime }}
                </td>
                <td>
                    {{ candidate.averageEndTime | secondsToTime }}
                </td>
                <td>
                    <button class="btn btn-primary btn-sm"
                            ng-click="applyClassGroupSelection(candidate.classPicks)">
                        Apply Classes
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="container" ng-controller="TimetableController" ng-show="chosenTopics.length">
    <table class="timetable table">
        <thead>
        <tr>
            <th class="times"></th>
            <th ng-repeat="day in days">{{ day }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="timetable-column">
                <table>
                    <tr ng-repeat="hour in hours">
                        <th class="hour"><span>{{ hour }}</span></th>
                    </tr>
                </table>
            </td>
            <td ng-repeat="day in days" class="timetable-column">
                <div class="clashGroup" ng-repeat="clashGroup in timetable[day]">
                    <table style="top: 0px; height: 0px; position: relative;" width="100%">
                        <tr>
                            <td ng-repeat="clashColumn in clashGroup.clashColumns">
                                <div ng-repeat="booking in clashColumn" style="position: relative; height: 0px;">
                                    <div class="booking topic-{{booking.topicHash % 16}}"
                                         ng-class="{'locked': booking.locked }"
                                         style="height: {{ booking.secondsDuration / 60 }}px; top: {{ (booking.secondsStartsAt - 28800) / 60 }}px;">
                                        <span ng-show="booking.locked" class="glyphicon glyphicon-lock"></span>

                                        <p>{{ booking.topicCode }} {{ booking.className }}</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <table class="grid">
                    <tr ng-repeat="hours in hours" class="half-hour-marker">
                        <td>&nbsp;</td>
                    </tr>
                    <tr ng-repeat="hours in hours" class="half-hour-marker">
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<div class="container" ng-controller="ManualClassChooserController" ng-show="chosenTopics.length">
    <div class="chosen-topics">
        <div class="page-header">
            <h3>Manual Class Selector</h3>
        </div>

        <div class="row">
            <div ng-repeat="topic in chosenTopics" ng-show="topic.timetableLoaded"
                 class="col-md-3 topic topic-{{topic.getHash() % 16}}">
            <h3>{{ topic.code }} {{ topic.name }}</h3>

                <div ng-show="topic.classes" ng-repeat="class in topic.classes">
                    <h4>{{ class.name }} ({{ (class.classGroups[0].classSessions[0].secondsDuration || 0) /
                        60}}
                        minutes)</h4>

                    <div ng-show="class.classGroups" class="list-group">
                        <a ng-repeat="classGroup in class.classGroups" class="list-group-item"
                           ng-class="{ active: (classGroup == class.activeClassGroup) }"
                           ng-click="(class.activeClassGroup = classGroup) && broadcastClassesUpdate()">
                            <p class="list-group-item-text"
                               ng-repeat="classSession in classGroup.classSessions">{{
                                classSession.dayOfWeek }} {{ classSession.timeStartsAt }}
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
