@import "bootstrap.less";
@import "variables.less";

@table-border-color: #eee;

* {
  transform: all 1s ease-in-out;
}

.booking-highlight(@color: blue) {
  border-color: darken(@color, 10%);
  background: darken(@color, 2%);
  background-image: linear-gradient(to bottom, lighten(@color, 2%) 0%, darken(@color, 2%) 100%);
  color: #ffffff !important;
  text-shadow: 0px 0px 3px darken(@color, 20%);
}

.booking.topic-0, .topic.topic-0 .active {
  .booking-highlight(#84BF32);
}

.booking.topic-1, .topic.topic-1 .active {
  .booking-highlight(#FFA81B);
}

.booking.topic-2, .topic.topic-2 .active {
  .booking-highlight(#FF5A63);
}

.booking.topic-3, .topic.topic-3 .active {
  .booking-highlight(#BF2F13);
}

.booking.topic-4, .topic.topic-4 .active {
  .booking-highlight(#FFC519);
}

.booking.topic-5, .topic.topic-5 .active {
  .booking-highlight(#8742BF);
}

.booking.topic-6, .topic.topic-6 .active {
  .booking-highlight(#4E54FF);
}

.booking.topic-7, .topic.topic-7 .active {
  .booking-highlight(#4ACAFF);
}

.booking.topic-8, .topic.topic-8 .active {
  .booking-highlight(#45BFB8);
}

.booking.topic-9, .topic.topic-9 .active {
  .booking-highlight(#007F15);
}

.booking.topic-10, .topic.topic-10 .active {
  .booking-highlight(#FF9E9A);
}

.booking.topic-11, .topic.topic-11 .active {
  .booking-highlight(#FF6548);
}

.booking.topic-12, .topic.topic-12 .active {
  .booking-highlight(#37BF32);
}

.booking.topic-13, .topic.topic-13 .active {
  .booking-highlight(#192540);
}

.booking.topic-14, .topic.topic-14 .active {
  .booking-highlight(#7F2951);
}

.booking.topic-15, .topic.topic-15 .active {
  .booking-highlight(#FFEE64);
}

a.list-group-item {
  cursor: pointer;
}

table.topics {
  border-collapse: collapse;
  table-layout: fixed;

  td {
    vertical-align: middle !important;
    border: 0px none !important;
  }

  .filter {
    width: 150px;
  }
  .action {
    width: 100px;
  }

}

.chosen-topics {
}

table.timetable > thead > tr:first-of-type > th {
  border: 1px solid @table-border-color;
  border-bottom: 0;
  padding: 10px;
  vertical-align: middle;
  text-align: center;
}

table.timetable {
  thead > tr > th,
  tbody > tr > th,
  tfoot > tr > th,
  thead > tr > td,
  tbody > tr > td,
  tfoot > tr > td {
    padding: 0;
  }

  thead > tr > td,
  tbody > tr > th {
    text-align: center;
  }

  table-layout: fixed;
  border-collapse: collapse;

  border: 1px solid @table-border-color;

  .times {
    width: 100px;
  }

  table {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 0.8em;
  }

  table.grid {
    border-left: 1px solid @table-border-color;
  }

  .hour {
    height: 60px;
  }
  .half-hour-marker {
    height: 30px;
  }
  .half-hour-marker:nth-child(even) td {
    height: 30px;
    border-top: 1px solid lighten(@table-border-color, 5%) !important;
  }

  .timetable-column {
    position: relative;
    padding: 0;
    border-top-width: 0;
  }

  .clashGroup {
    position: relative;
    height: 0;
  }

  .clashGroup td {
    padding: 0 10px 0 0;
  }
  .clashGroup td:first-of-type {
    padding: 0 10px;
  }

  .clashGroup {

    .booking {
      padding: 5px 0;
      border-radius: 4px;
      position: relative;
      opacity: 0.75;
      font-size: 0.8em;
    }

    .booking .glyphicon-lock {
      float: right;
      margin: 4px 10px;
    }

    .booking p {
      margin: 5 10px;
    }
  }
}

.ajax-loader {
  margin: 0 auto;
  text-align: center;
  text-align: center;
  display: block;
}
