@import "../../vendor/bootstrap/less/variables";

@icon-font-path: "../assets/";

@flinders-light-background: #fff;
@flinders-dark-background: fade(#FFD300, 55%);

@hr-border: rgba(125, 125, 125, 0.1);
@page-header-border-color: @hr-border;