<div class="container" ng-show="topics.length" ng-style="{width: width, height: height}">
    <table class="timetable table">
        <thead>
        <tr>
            <th class="times"></th>
            <th ng-repeat="day in days">{{ day }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="timetable-column">
                <table>
                    <tr class="hour" ng-repeat="hour in hours">
                        <th><span>{{ hour }}</span></th>
                    </tr>
                </table>
            </td>
            <td ng-repeat="day in days" class="timetable-column">
                <clashgroup clash-group="clashGroup" ng-repeat="clashGroup in timetable[day]"></clashgroup>
                <table class="grid">
                    <tr ng-repeat="hours in hours" class="half-hour-marker">
                        <td>&nbsp;</td>
                    </tr>
                    <tr ng-repeat="hours in hours" class="half-hour-marker">
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>