<!DOCTYPE html>
<html ng-app="unibuddyTimetable" ng-controller="AppCtrl">
<head>
    <!--
    I see you there. Inspecting my source :)

    Want to see an unminified version of the JS? Maybe contribute? Head on over to
    https://github.com/TobiasWooldridge/FlindersTimetable
    -->

    <title ng-bind="pageTitle"></title>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

    <meta property="og:title" content="UniBuddy University Timetable Planner"/>
    <meta property="og:description" content="Select your classes, and then generate the ideal timetable for next semester."/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://flinderstimetable.tobias.pw/assets/images/timetable.png"/>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
</head>
<body>

<header class="container">
    <div class="page-header">
        <h1>UniBuddy University Timetable Planner</h1>
    </div>

    <noscript>
        <div class="alert alert-danger">
            It looks like you have JavaScript disabled. Please re-enable JavaScript and reload the page to use
            the timetable generator!
        </div>
    </noscript>
</header>

<div class="pages">
    <div class="container">
        <h2>Just a few simple steps</h2>

        <p>Use this tool to find the ideal timetable for next semester</p>
        <ol>
            <li>Choose which semester you're planning for</li>
            <li>Choose your topics</li>
            <li>Order your criteria for an ideal table (maximize number of days free, minimize time spent at
                university, etc.)
            </li>
            <li>Click &quot;Generate Timetables&quot; and choose your ideal timetable</li>
        </ol>
    </div>

    <div class="container">
        <h2>Spread the word</h2>

        <p>UniBuddy is run for free by a handful of students from Flinders University. All that we get out of making
            UniBuddy is the satisfaction that we're helping people.</p>

        <p>If you find this tool useful, your friends probably will too, so please thank us by sharing it with your friends :)</p>

        <div class="fb-like" data-href="https://www.facebook.com/timetableplanner" data-layout="standard" data-action="like"
             data-show-faces="true" data-share="true"></div>

        <p>If you find a bug or have other feedback, let us know on our Facebook page <a target="_blank"
                                                                                         href="https://www.facebook.com/timetableplanner">here</a>.</p>
    </div>
</div>



<div class="pages" ui-view="main">
</div>

<footer class="container">
    <hr/>
    <p>Made by <a target="_blank" href="http://tobias.wooldridge.id.au/">Tobias Wooldridge</a> (<a
            href="mailto:tobias@wooldridge.id.au">email me</a>) with contributions from
        <a target="_blank" href="https://github.com/rdpeake">Russell Peake</a>. Want to help develop UniBuddy?
        <a target="_blank" href="https://github.com/TobiasWooldridge/FlindersTimetable">It's open source!</a></p>


    <p class="copy">While we try our best to be right, there's always a chance that we get things wrong about when classes are and whether they're full or not.</p>
    <p class="copy">Be aware that you may not be able to get your ideal timetable even if the timetable planner says a class is not full. If there are issues, contact us on <a target="_blank"
            href="https://www.facebook.com/timetableplanner">Facebook</a>.</p>
</footer>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-45005603-1', 'tobias.pw');
    ga('send', 'pageview');

</script>

</body>
</html>
